/* ---- Icons Font ---- */
@font-face {
  font-family: "blogricon";
  src: url('../fonts/icons/blogricon.eot');
  src: url('../fonts/icons/blogricon.eot?#iefix') format('eot'),
    url('../fonts/icons/blogricon.woff2') format('woff2'),
    url('../fonts/icons/blogricon.woff') format('woff'),
    url('../fonts/icons/blogricon.ttf') format('truetype'),
    url('../fonts/icons/blogricon.svg#blogricon') format('svg');
}

@mixin icon-styles {
  font-family: "blogricon", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == arrow-dark {
    $char: "\E001";
  }
  @if $filename == arrow-down {
    $char: "\E002";
  }
  @if $filename == close {
    $char: "\E003";
  }
  @if $filename == hamburger {
    $char: "\E004";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-arrow-dark {
  @include icon(arrow-dark);
}
.icon-arrow-down {
  @include icon(arrow-down);
}
.icon-close {
  @include icon(close);
}
.icon-hamburger {
  @include icon(hamburger);
}
