/* ---- Footer ---- */
.footer-wrap {
  padding: rem(70px) 0; background-color: $dark-grey-2; text-align: center; border-radius: 0 100px 0 0;
  @include min(md){ text-align: left; }

  .flexbox {
    @include min(md){ display: flex; justify-content: space-between; }

    .col {
      overflow: hidden;
      @include min(md){ width: calc((100% / 4) - 10px); }

      .footer-logo { display: block; margin-bottom: rem(34px); }

      h3 {
        color: $white; margin-top: rem(42px); font-size: rem(18px); margin-bottom: rem(33px);
        @include min(md){ margin-top: 0; font-size: rem(16px);}
      }

      ul {
        list-style: none; padding: 0; margin: 0;

        li {
          margin-bottom: rem(10px);
          @include min(md){ margin-bottom: rem(12px); }

          a {
            color: $grey; font-size: rem(18px);
            @include min(md) { font-size: rem(16px); }
            &:hover, &:focus { color: $white; text-decoration: underline;}
          }
        }
      }
    }
  }

}

